@using FPTJobMatch.Models;
@model IEnumerable<FPTJobMatch.Models.Job>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Job List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS */
        .button-container {
            display: flex;
        }

            .button-container a {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Manage Job List</h1>
        <div class="table-responsive">
            <div class="mb-3">
                <a href="@Url.Action("Create", "ManageJobList")" class="btn btn-primary">Create Job</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr>
                            <td>@job.Id</td>
                            <td>@job.Position</td>
                            <td>@job.Location</td>
                            <td>@job.Description</td>
                            <td>@job.Time</td>
                            <td>@job.Status</td>
                            <td>
                                <div class="button-container">
                                    @if (User.IsInRole("Admin") && job.Status == JobStatus.Pending)
                                    {
                                        <a href="@Url.Action("ApproveJob", new { jobId = job.Id })" class="btn btn-success">Approve</a>
                                        <a href="@Url.Action("RejectJob", new { jobId = job.Id })" class="btn btn-success">Reject</a>

                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Delete", new { id = job.Id })" class="btn btn-danger">Delete</a>

                                    }

                                    @if (User.IsInRole("Company"))
                                    {
                                        <a href="@Url.Action("Edit", new { id = job.Id })" class="btn btn-primary">Edit</a>
                                        <a href="@Url.Action("Delete", new { id = job.Id })" class="btn btn-danger">Delete</a>

                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
